<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- CSS  -->
    <link rel="stylesheet" href="../statics/css/custom.css">
    <title>Document</title>
</head>

<body>
    <div class="container-fluid">
        <div class="header">
            <div class="header_logo col-md-6">
                <img class="ml-5 w-25" src="../statics/img/logo.png" alt="logo">
            </div>
            <div class="header_nav col-md-6">
                <ul class="row m-0">
                    <li class="col-xl-2 p-2"><a class="text-dark" href="./home.html">Home</a></li>
                    <li class="col-xl-2 p-2"><a class="text-dark" href="./about.html">About Us</a></li>
                    <li class="col-xl-2 rounded p-2 bg-dark">
                        <a class="text-light" href="./login.html">Log In</a>
                    </li>
                </ul>
            </div>

        </div>
        <!-- CONTENT  -->
        <div class="content row">
            <div class="content_img col-4 mr-5">
                <img src="../statics/img/teamwork1.jpg" alt="">
            </div>
            <div class="content_descrip col-7">
                <h3 class="content_title font-weight-bold custom_fz_32 mb-5">About Us</h3>
                <div class="content_detail bg_grayd9 custom_rounded15 pd_5_15 mb-4">
                    <p class="">Our team gathers and updates the authentic data about potential products daily. Within a
                        click, not only reliable source of data is given, but you can also get access to figures about
                        the market, competitors, suppliers, etc</p>
                    <p class="">Our team gathers and updates the authentic data about potential products daily. Within a
                        click, not only reliable source of data is given, but you can also get access to figures about
                        the market, competitors, suppliers, etc</p>
                    <p class="">Our team gathers and updates the authentic data about potential products daily. Within a
                        click, not only reliable source of data is given, but you can also get access to figures about
                        the market, competitors, suppliers, etc</p>
                </div>
                <button class="btn rounded-0 border-dark custom_w10 "> <a href="#">More</a> </button>
            </div>
        </div>
    </div>

</body>

</html>