<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- CSS  -->
    <link rel="stylesheet" href="../statics/css/home.css">
    <title>Home</title>
</head>

<body>
    <div class="container-fluid">
        <div class="header">
            <div class="header_logo col-md-6">
                <img class="ml-5 w-25" src="../statics/img/logo.png" alt="logo">
            </div>
            <div class="header_nav col-md-6">
                <ul class="row m-0">
                    <li class="col-xl-2 p-2"><a href="./home.html">Home</a></li>
                    <li class="col-xl-2 p-2"><a href="./about.html">About Us</a></li>
                    <li class="col-xl-2 rounded p-2 custom_opa">
                        <a class="text-light" href="./login.html">Log In</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="content">
            <div class="content_descrip col-md-6">
                <div class="content_text">
                    <h3 class="content_descrip_title">WANNA START YOUR OWN BUSSINESS</h3>
                    <p>Providing future business owners information about potential products wherever in Việt Nam</p>
                    <p class="border border-dark font-weight-bold"><span class="text-danger">HERE</span> IS A <span class="text-warning">KEY</span> TO YOUR <span class="text-primary">SUCCESS</span> </p>
                </div>
            </div>
            <div class="content_img col-md-6 p-0 d-flex justify-content-center align-items-center">
                <!-- <img src="./assets/img/teamwork.jpg" alt="teamwork" class="img-fluid"> -->
                <img src="../statics/img/teamwork1.jpg" alt="teamwork" class="img-fluid">
            </div>
        </div>
    </div>
</body>

</html>