<div class="d-flex flex-column justify-content-between" style="height: 83vh;">
    <div class="d-flex flex-column"> 
        <div>
            <p class="fs-4 font-weight-bold shadow-sm fw-bold">Your life</p>
        </div>
        <div class="d-flex flex-row-reverse">
            <img class="ms-2" style="width: 70px; height: 70px;" src="{{ url_for('static',filename='img/avatar_user1.png') }}" alt="">
            <div class="bg-primary align-self-start p-2 text-light px-3" style="border-radius: 1em;">
                <p class="">Tôi muốn phân phối hàng</p>
            </div>
        </div>
        <div class="d-flex flex-row">
            <img class="me-2" style="width: 70px; height: 70px;" src="{{ url_for('static',filename='img/avatar_user1.png') }}" alt="">
            <div class="bg-primary align-self-start p-2 text-light px-3" style="border-radius: 1em;">
                <p class="">Vâng, hãy đợi chúng tôi trả lời</p>
            </div>
        </div>
    </div>
    <div class="d-flex flex-row">
        <!-- <button type="button" class="btn btn-primary me-2">Thanh toán</button> -->
        <div id="paypal-button">
            <script src="https://www.paypalobjects.com/api/checkout.js"></script>

<script>
    var CREATE_PAYMENT_URL  = "{{ url_for('pay.payment') }}";
    var EXECUTE_PAYMENT_URL = "{{ url_for('pay.execute')}}";

    paypal.Button.render({

        env: 'sandbox', // Or 'sandbox'

        commit: true, // Show a 'Pay Now' button

        payment: function() {
            return paypal.request.post(CREATE_PAYMENT_URL).then(function(data) {
                return data.paymentID;
            });
        },

        onAuthorize: function(data) {
            return paypal.request.post(EXECUTE_PAYMENT_URL, {
                paymentID: data.paymentID,
                payerID:   data.payerID
            }).then(function(res) {

                console.log(res.success)
            });
        }

    }, '#paypal-button');
</script>




        </div>


        <form method="POST" action="" class="d-flex flex-row w-75" role="search">
            <input name="prompt" class="form-control me-2" type="search" placeholder="Ask" aria-label="Search">
            <button class="btn" type="submit"><i class="bi bi-send"></i></button>
        </form>
    </div>
</div>