{% extends 'layout.html' %}

{% block main %}
    <div class="m-3">
        <div>
            <h1>Our recommended products for: {{ id_product }} </h1>
        </div>
        <hr class="divider"/>
        <div class="container">
            <div class="d-flex flex-column mb-3">
                {% for out in output%}
                    <div class="">
                        <a href="{{ url_for('company.detail', id=14682) }}" style="text-decoration: none; color:inherit" >
                        <div class="shadow-sm">
                            <div class="">#{{ out.product_id}}</div>
                            <div class="">
                                <p>{{ out.product_name}} </p>
                                <p>Giá sản phẩm: {{ out.price}}</p>
                            </dic>
                        </div>
                        </a>
                    </div>
            {% endfor %}
            </div>
        </div>
        {% endblock %}
