{% extends 'layout.html' %}

{% block main %}
    <h3 class="text-primary">Recomendation product</h3>
    <div class="content">
        <div class="container">
            <div class="row mb-3">
                {% for out in output%}
                    {% if loop.index % 3 == 1 %}
                    <div class="row mb-3">
                {% endif %}
                    <div class="col-4">
                        <a href="{{ url_for('company.detail', id=14680) }}" style="text-decoration: none; color:inherit" >
                        <div class="card" style="width: 18rem">
                            <div class="card-body">
                            <h5 class="card-title">#{{ out.product_id}}</h5>
                            <p class="card-text">
                                <p>{{ out.product_name}} </p>
                                <p>Giá sản phẩm: {{ out.price}}</p>
                            </p>
                            </div>
                        </div>
                        </a>
                    </div>
                {% if loop.index % 3 == 0 or loop.last %}
                    </div> 
                {% endif %}
            {% endfor %}
            </div>
        </div>
        {% endblock %}
