{% extends 'layout.html' %}
{% block main %}
    <div class="d-flex flex-row m-3">
        <!-- Filter -->
        <div class="col-3">
            {% include 'company/filter.html' %}
        </div>
        <!-- Search and products -->
        <div class="col-9">
            <div class="d-flex flex-column">
                <div class="m-1">
                    {% include 'company/search.html' %}
                </div>
                <hr class="divider"/>
                <div class="" style="height: 83vh; overflow-y: auto">
                    {% include 'company/home.html'%}
                </div>
            </div>
        </div>
    </div>  


{% endblock %}