{% extends 'layout.html' %}

{% block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='detail.css') }}">
<div style="height: 100vh; width: 100%; position:relative" class="position-relative"> 
    <div  class="w-100">
        <img class="w-100" style="height: 270px;" src="{{ company.background_img }}" alt="">
    </div>
    <div class="d-lex flex-row justify-content-center w-100" style="background-color:blue"; >
            <div class=" d-flex justify-content-center position-absolute bottom-50 w-100">
                <div class="d-flex flex-row w-75 justify-content-between align-items-center">
                    <!-- THÔNG TIN BRAND -->
                    <div class="d-flex flex-row align-items-center">
                        <div class="" style="width: 150px; height: 150px;">
                            <img class="img-fluid object-fit rounded-circle" src="{{ company.logo }}" alt="">
                        </div>
                        <div class=" px-3">
                            <h2 class="font-weight-bold text-light bg-dark  p-2 rounded">{{ company.company_name }}</h2>
                            <p class="m-0"> <i class="fa-solid fa-phone"><span>{{ company.telephone }}</span></i></p>
                            <p class="m-0"> <i class="fa-solid fa-location-dot"> <span>TPHCM</span></i></p>
                            <p class="m-0"> <i class="fa-solid fa-location-dot"> 
                                <a href="{{ url_for('/dash/') }}">View our dashboard</a>
                            </i></p>
                        </div>
                    </div>
                    <!-- Chat message -->
                    <div class="p-5">
                        <a href="{{url_for('connected.index')}}">
                            <button class="btn-lg btn-primary">Kết nối
                                <i class="bi bi-chat-dots ms-2"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
    </div>
    <div class="d-lex flex-column" style="margin: 150px;">
         <!-- DESCRIPTION BRAND  -->
        <div class="">
            <h3 class=" text-dark  mb-3 fonts">Mô tả</h3>
            <div class="content_descrip w-75 m-auto m-0">
                <div class="border border-dark w-100">
                    <div class="">
                        <h4 class="fonts">Yêu cầu kinh nghiệm</h4>
                        <p>L.O.E: </p>
                        <p>Vốn chủ: </p>
                    </div>
                    <div class="">
                        <h4 class="fonts">Thủ tục phân phối</h4>
                        <p>Liên hệ </p>
                        <p>Vốn chủ: </p>
                    </div>
                </div>
            </div>
        </div>
            <!-- SHOW ITEMS  -->
        <div class="mt-2">
            <h3 class="text-dark mb-3 fonts">Sản Phẩm</h3>
            <div class="d-flex flex-row justify-content-center">
                <div class="container">
                    <div class="row mb-3">
                        {% for i in range(0,3) %}
                            <div class="col-4">
                                <div class="card" style="width: 18rem">
                                    <img  src="{{ url_for('static',filename='img/banh-tiramisu.jpg') }}" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title">Moon Cake</h5>
                                      <p class="card-text">
                                        <p>GMV tại địa phương </p>
                                        <p>Giá sản phẩm:</p>
                                      </p>
                                      <div class="d-flex flex-row justify-content-end">
                                        <p class="align-items-end fw-bold">Unami Store</p>
                                      </div>
                                    </div>
                                  </div>
                            </div>
                        {% endfor %}
                    </div>
                 </div>
            </div>
        </div>
            
    </div>
</div>
{% endblock %}