<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <!-- CSS  -->
    <link rel="stylesheet" href="../statics/css/style.css">
    <title>Product</title>
</head>
<body>
    <div class="container mx-5">
        <div class="m-3 d-flex align-items-center justify-content-between">
            <div class="d-flex flex-row">
                <h3 class="fw-bold">Here is your suggested products</h3>
            </div>
            <div class="header_nav ">
                <ul class=" m-0 d-flex flex-row ">
                    <li class="p-2"><a href="#">HOME</a></li>
                    <li class="p-2"><a href="#">ABOUT US</a></li>
                </ul>
            </div>
        </div>
        <hr class="divider"/>
        <div class="d-flex flex-column">
            <div class="mb-5 row">
                <div class="col-4">
                    <img class='img-fluid' src="../assets/1.png" alt="poster">
                </div>
                <div class="col-8">
                    <h5>Buble tea</h5>
                    <p class="text-secondary">Bubble tea is a popular Taiwanese treat available in countless 
                        flavors and variations
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <button type="button" class="btn btn-outline-secondary">Learn more</button>
                </div>
                
            </div>
            <div class="mb-5 row">
                <div class="col-4">
                    <img class='img-fluid' src="../assets/2.png" alt="poster">
                </div>
                <div class="col-8">
                    <h5>Wagashi cake</h5>
                    <p class="text-secondary">Wagashi (和菓子, wa-gashi) is a traditional
                         Japanese confection. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                         nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <button type="button" class="btn btn-outline-secondary">Learn more</button>
                </div>
            </div>
            <div class="mb-5 row">
                <div class="col-4">
                    <img class='img-fluid' src="../assets/3.png" alt="poster">
                </div>
                <div class="col-8">
                    <h5>Moon Cake</h5>
                    <p class="text-secondary">Mooncakes are the hallmark food of the Mid-Autumn Festival
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                    <button type="button" class="btn btn-outline-secondary">Learn more</button>
                </div>
            </div>
        </div>
    </div>
</body>