{% extends 'layout.html' %}

{% block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='home.css') }}">
        <div class="">
            <div class="d-flex flex-row align-items-center justify-content-center p-5 h-100">
                <div class="row">
                    <div class="col-6">
                        <img class="img-fluid" src="{{ url_for('static',filename='img/decorate1.png') }}" alt="decorate">
                    </div>
                    <div class="col-6 d-flex flex-column p-4">
                        <div class="">
                            <img class="img-fluid"  src="{{ url_for('static',filename='img/decorate2.png') }}" alt="decorate">
                        </div>
                        <div class="mt-5 z-n1 position-absolute" style='top:160px'>
                            <h1 class='display-6'>START YOUR OWN BUSINESS</h1>
                        </div>
                        <div class="">
                            <h3 class="text-secondary text-center p-3">Providing future business owners information about potential products wherever in Việt Nam.</h2>
                        </div>
                        <div class="text-center">
                            <p class="fw-bold fst-italic text-decoration-underline">Contact us:</p>
                            <a class='m-3'href='#'><i class="bi bi-facebook" style="font-size: 2rem; color: cornflowerblue;"></i></a>
                            <a class='m-3' href='#'><i class="bi bi-youtube" style="font-size: 2rem; color: red;"></i></a>
                            <a class='m-3' href='#'><i class="bi bi-instagram" style="font-size: 2rem; color: pink;"></i></a>
                        </div>
                    </div>
                   
                </div>
            </div>
        </div>
        
{% endblock %}

