{% extends 'layout.html' %}

{% block main %}
    <h1 class="title">{% block title %} products {% endblock %}</h1>
    <div class="content">
        {% for product in products %}
            <div class="product">
                <p><b>#{{ product.id_product }}</b></p>
                <b>
                    <p class="name">{{ product.name }}</p>
                </b>
                <p>{{ product.type }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- <h1 style="width: 100%">Choose product</h1>
    <form action = "" method="post">
        <label for="product">Choose product:
            <input list="id_product" id="id_product" name="id_product" />
                <datalist id="id_product">
                    <select name= "id_product" method="GET" action="/">
                        {% for product in products %}
                            <option value="{{ product.id_product }} {{product.name}} SELECTED">{{ product.id_product }} {{product.name}}</option>
                        {% endfor %}
                    </select>
                </datalist>
        </label>
    <input type="submit" value="Submit">
    </form> -->
    <br>

    <form method="POST" action="{{ url_for('products.index') }}">
        <div class="form-group" >
            <div class="input-group" >
                <label for="product">Choose product:
                    <select name= "id_product" id = "id_product" method="GET" action="/">
                        {% for product in products %}
                        <option value="{{ product.id_product }} {{product.name}}">{{ product.id_product }} {{product.name}}</option>
                        {% endfor %}
                    </select>
                </label>
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>

{% endblock %}

