<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static',filename='base.css') }}">
    <title>Login</title>
</head>

<body>
    <div class="h-100  d-flex flex-column justify-content-center align-items-center">
        <form method="POST" action="">
            <div class="text-center mb-3">
                <h1 class="text-uppercase display-3">Login here</h1>
                <p class="custom-letter-spacing">Fill in this <span class="font-weight-bold">Form</span> to open your bussiness</p>
            </div>
            <form style="min-width: 400px;">
                <div class="mb-3">
                    <label class='form-label' for="email">Email</label>
                    <input class="form-control" type="email" name="email" placeholder="Student email">
                    </input>
                </div>
                <div class="mb-3">
                    <p>
                        <label class='form-label' for="password">password</label>
                        <input class="form-control" type="password" name="password"
                            placeholder="password">
                        </input>
                    </p>
                </div>
                <div class="">
                    <a href="{{ url_for('auth.register') }}" >Not have an account?</a>
                </div>
                <div class="d-flex align-items-center justify-content-center">
                    <button type="submit" class="btn btn-primary m-2">
                        <a href="{{ url_for('auth.profile') }}" style="color:white">Login</a></li>
                    </button>
                    <button type="submit" class="btn btn-secondary m-2"><a href="{{ url_for('main.index') }}" style="color:white">Return</a></li></button>
                </div>
            </form>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    
    
</body>

</html>