{% extends 'layout.html' %}
{% block main %}
    <div class="d-flex flex-row">
        <div class="col-6 d-flex flex-column align-items-center justify-content-center" style="height:83vh">
            <div class="my-2 d-flex flex-row align-items-end justify-content-center" style="width:400px; height: 400px">
                <img class="img-fluid object-fit rounded-circle" style="width:350px; height: 350px" src="{{ url_for('static',filename='img/avatar_user1.png') }}"  alt="">  
            </div>
            <h1 class="my-2">Alex Kazwuikoana</h1>
            <button type="button" class="btn btn-danger">Log out</button>
        </div>
        <div class="col-6">
            <h3 class="mt-3 text-primary">Products you have watched</h3>
           
                {% for product in products %}
                <div class="shadow-sm my-2 p-3">
                    <h5>{{product.product_name}}</h5>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, corporis corrupti iste quam provident officia magni. Minus debitis quae veritatis esse officia placeat quam voluptas. Obcaecati iste fugiat molestiae numquam.</p>
                </div>
                {% endfor %}
           
        </div>
    </div>
{% endblock %}