{% extends 'layout.html' %}

{% block main %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='detail.css') }}">
<div style="height: 100vh; width: 100%; position:relative" class="position-relative"> 
    <div  class="w-100">
        <img class="w-100" style="height: 270px;" src="{{ company.background_img }}" alt="">
    </div>
    <div class="d-lex flex-row justify-content-center w-100" style="background-color:blue"; >
            <div class=" d-flex justify-content-center position-absolute bottom-50 w-100">
                <div class="d-flex flex-row w-75 justify-content-between align-items-center">
                    <!-- THÔNG TIN BRAND -->
                    <div class="d-flex flex-row align-items-center">
                        <div class="" style="width: 150px; height: 150px;">
                            <img class="img-fluid object-fit rounded-circle" src="{{ company.logo }}" alt="">
                        </div>
                        <div class=" px-3">
                            <h2 class="font-weight-bold text-light bg-dark  p-2 rounded">{{ company.company_name }}</h2>
                            <p class="m-0"> <i class="fa-solid fa-phone"><span>{{ company.telephone }}</span></i></p>
                            <p class="m-0"> <i class="fa-solid fa-location-dot"> <span>TPHCM</span></i></p>
                            <p class="m-0"> <i class="fa-solid fa-location-dot"> 
                                <a href="{{ url_for('/dash/', company_id= company.company_id ) }}">View our dashboard</a>
                            </i></p>
                        </div>
                    </div>
                    <!-- Chat message -->
                    <div class="p-5">
                        <a href="{{url_for('connected.index')}}">
                            <button class="btn-lg btn-primary">Kết nối
                                <i class="bi bi-chat-dots ms-2"></i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
    </div>
    <div class="d-lex flex-column" style="margin: 150px;">
         <!-- DESCRIPTION BRAND  -->
        <div class="my-2">
            <h3 class=" text-dark  mb-3">Mô tả</h3>
            <div class="shadow-sm p-3 rounded-3">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
            </div>
        </div>
            <!-- SHOW ITEMS  -->
        <div class="mt-4">
            <h3 class="text-dark mb-3 fonts">Sản Phẩm của chúng tôi</h3>
            <div class="d-flex flex-row">
                <div class="container">
                  <div class="row mb-3">
                    {% for product in products %}
                        {% if loop.index % 3 == 1 %}
                            <div class="row mb-3">
                        {% endif %}
            
                        <div class="col-4">
                            <div class="card" style="width: 18rem">
                              <img  src="{{ product.product_img }}" class="card-img-top" alt="...">
                              <a href="{{ url_for('company.detail', id=product.company_id) }}" style="text-decoration: none; color:inherit" >
                                <div class="card-body">
                                  
                                  <h5 class="card-title">{{product.product_name}}</h5>
                                  <p class="card-text">
                                    <p>GMV tại địa phương </p>
                                    <p>Giá sản phẩm: {{product.price}}</p>
                                  </p>
                                  <!-- <div class="d-flex flex-row justify-content-end">
                                    <p class="align-items-end fw-bold">{{product.company_id}}</p>
                                  </div> -->
                                </div>
                              </a>
                            </div>
                         
                        </div>
                    
                        {% if loop.index % 3 == 0 or loop.last %}
                            </div> 
                        {% endif %}
                    {% endfor %}
                  </div>
                </div>            
              </div>
        </div>
            
    </div>
    </div>
</div>
{% endblock %}