
<div id = "background" class="d-flex flex-column ms-2 m-1 shadow-sm p-3 mb-5  rounded">
    <h3 class="text-primary">Bộ Lọc Tìm Kiếm</h3>
    <div class="mt-3 me-1">
        <form method="POST" action="{{ url_for('company.filter') }}">
            <div class="form-group" >
                <div class="input-group" >
                    <select class="form-select" name= "category" id = "category" method="GET" action="/">
                        {% for company in companies %}
                        <option value="{{company.category}}">{{company.category}}</option>
                        {% endfor %}
                    </select>
                    
                </div>
            </div>
            <button type="submit" class="btn btn-primary mt-2">Submit</button>
           
        </form>

    </div>
</div>

<script src="{{ url_for('static', filename='js/constants.js') }}"></script>