{% extends 'layout.html' %}

{% block main %}
    <!-- <div class="content">
        {% for company in companys %}
            <div>Hello</div>
        {% endfor %}
    </div> -->
    <div class="content">
        {% for company in companys %}
            <div class="company">
                <p><b>#{{ company.company_id }}</b></p>
                <b>
                    <p class="name">{{ company.comany_name }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}



