<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
        integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous"> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- AOS CSS  -->
    <link rel="stylesheet" href="/bower_components/aos/dist/aos.css" />
    <!-- CSS  -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='base.css') }}">
    <title>[Avoca] {{ title }}</title>
</head>

<body>
    <div class="d-flex flex-column">
        <nav class="navbar sticky-top bg-body-tertiary d-flex align-items-center justify-content-between p-4 "
            style="background-color: #e3f2fd;">
            <div class="header_logo container-fluid">
                <a class="navbar-brand" href="{{ url_for('main.index') }}" style="color: black;">
                    <img width="80" height="40" src="{{ url_for('static',filename='img/logo1.png') }}" alt="logo">
                    SheCodes
                </a>
                <div class="header_nav">
                    <ul class=" m-0 d-flex flex-row ">
                        <li class="p-2"><a href="{{ url_for('main.index') }}">Home</a></li>
                        <li class="p-2"><a href="{{ url_for('main.about') }}">About Us</a></li>
                        <li class="p-2"><a href="{{ url_for('products.index') }}">Products</a></li>
                        <!-- <li class="p-2 me-3"><a href="{{ url_for('company.index') }}">Company</a></li> -->

                        <li class="">
                            <a class="text-light" href="{{ url_for('auth.login') }}">
                                <button type="button" class="btn btn-primary">Login</button>
                            </a>
                        </li>

                    </ul>
                </div>

            </div>

        </nav>
        <div class="">
            {% block main %}
            {% endblock %}
        </div>
    </div>
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> -->
    <!-- JS AOS  -->
    <script src="/bower_components/aos/dist/aos.js"></script>

    <script>
        AOS.init({
            duration: 1000,
            offset: 200,
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>